html {
  scroll-behavior: smooth;
}

body {
  font-family: "Golos Text", sans-serif;
  background-color: #f5f5f5;
}

#program,
#contact {
  scroll-margin-top: 100px;
}

.wrapper {
  max-width: 944px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.button__prymary {
  color: var(--black-text);
  font-size: 12px;
  font-weight: 600;
  background: var(--prymary-text);
  border-radius: 50px;
  padding: 18px 30px;
}

.circle__gif {
  mix-blend-mode: lighten;
}

@media (max-width: 768px) {
  #program,
  #contact {
    scroll-margin-top: 78px;
  }
}
